body {
    margin: 0;
    padding: 0;
    color: #777;
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Lato", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #595959;
    font-family: "Abel", sans-serif;
    text-transform: uppercase
}

/**************
	Navbar
**************/
/* navbar when scrolling */
@media (min-width: 992px) {
    .navbar-expand-lg a img {
        width: 55px;
        height: 40px;
    }

    .navbar-expand-lg div li div {
        width: 190px;
        height: 115px;
    }

    .navbar-expand-lg {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }

    .nav-item i {
        display: none;
    }

    .nav-item hr {
        display: none;
    }

    .home-icon {
        padding-left: 25px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg a img {
        width: 55px;
        height: 40px;
    }

    .navbar-expand-lg {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }

    .dropdown-menu-nav {
        padding: 1.2% 1.2% 1.2% 1%;
        width: 200px;
    }

    .dropdown-menu-nav a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .nav-item i {
        vertical-align: bottom;
        font-size: 25px !important;
        padding-right: 8px;
    }

    .home-icon {
        padding-left: 0;
    }
}

.material-airplane {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************
	Navbar End
***************/

/****************
    Infos Start
****************/

ul.nav-pills {
    position: fixed;
    margin-left: 2%;
}

.nav-link {
    color: red;
}

.nav-link:hover {
    color: #cc0008;
}

.nav-pills .nav-link.active {
    background-color: red;
}

@media (max-width: 1200px) {
    ul.nav-pills {
        margin-top: 5%;
    }
}

@media (min-width: 1200px) and (max-width: 800px) {
    ul.nav-pills {
        margin-top: 1%;
    }
}

@media (max-width: 800px) {
    #scrollspy {
        display: none;
    }

    .row div {
        padding-left: 10%;
        padding-right: 10%;

    }
}

div.col-8 div {
    padding-right: 5%;
}

#wrapper {
    margin-top: 5%;
}

.element-text a {
    color: red;
}

.element-text h1,
.element-text h2,
.element-text h3,
.element-text h4,
.element-text h5,
.element-text h6 {
    font-weight: 700;
}

.navigate-icon {
    font-size: 48px;
    vertical-align: -12px;
    color: red;
}

.title {
    margin-bottom: 100px;
}

.title h1 {
    display: inline-block;
    font-weight: 700;
}

#sub {
    padding-left: 4%;
}

/****************
    Infos End
****************/