body {
	margin: 0;
	padding: 0;
}

.navbar-custom {
	z-index: 2;
	background-color: rgb(212, 212, 212, 0) !important;
	margin-top: 2%;
	position: absolute;
	top: 2%;
	width: 100%;
}

/*
.navbar-custom a {
	color: white;
}
*/

#slideout {
	height: 100%;
	background-color: #212121;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

#closeButton {
	color: white;
	cursor: pointer;
	font-size: 47px;
	position: absolute;
	top: 6%;

}

#slideoutButtons a {
	color: white;
	font-size: 30px;
	position: absolute;
	top: 70px;
	left: 5px;
}

#hamburgerButton {
	position: relative;
	right: 8%;
	cursor: pointer;
	color: white;
	font-size: 45px;
}

#hamburgerImage {
	width: 55px;
	height: 40px;
}

#hamburgerMainItems {
	display: inline-block;
	position: absolute;
	right: 16%;
}

#mainImage {
	width: 100%;
	height: 100%;
}

#hamburgerMainItems button {
	padding: 10px;
}

footer {
	background-color: #d9d9d9;
	width: 100%;
	height: 280px;
	position: relative;
	color: white;
}

.footerPart a, .footerPart h4, .footerPart span {
	color: #1c1c1c;
	cursor: pointer;
}

#learnMoreHolder, #scheduleBookHolder, #mediaHolder, #company{
	position: absolute;
	top: 15%;
}

#learnMoreHolder {
	right: 15%;
}

#scheduleBookHolder {
	right: 35%;
}

#company {
	left: 3%;
}

#mediaHolder {
	left: 25%;
}
#mainImageText {
	color: white;
	font-size: 80px;
	font-weight: bold;
    position: absolute;
    text-align: left;
    top: 36%;
	left: 25%;
	width: 50%;
}

.infos {
	padding-left: 20%;
	padding-top: 100px;
	position: relative;

}

#bookingInfo {
	
}