body {
	margin: 0;
	padding: 0;
	color: #777;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-family: "Lato", "Arial", sans-serif;
}

h1, h5 {
	font-family: "Helvetica", "Arial", sans-serif;
}

/**************
	Navbar
**************/
/*desktops*/
@media (min-width: 993px) {
	.navbar-custom {
		z-index: 2;
		background-color: rgba(212, 212, 212, 0) !important;
		margin-top: 2%;
		position: absolute;
		top: 2%;
		width: 100%;
	}

	#hamburgerMainItems {
		margin-right: 4%;
		display: inline-block;
		position: absolute;
		right: 16%;
	}

	#hamburgerMainItems button {
		padding: 10px;
	}

	#hamburgerImage {
		width: 55px;
		height: 40px;
	}
}
/*phones*/
@media (max-width: 992px) {
	.navbar-custom {
		z-index: 2;
		background-color: rgba(212, 212, 212, 0) !important;
		position: absolute;
		top: 2%;
		width: 100%;
	}

	.navbar-custom span {
		color: white;
		z-index: 1;
		font-size: 19px;
	}

	#hamburgerMainItems {
		display: none;
	}

	#hamburgerImage {
		width: 40px;
		height: 25px;
	}
}

/* navbar when scrolling */
@media (min-width: 993px) {
	.navbar-expand-lg a img {
		width: 55px;
		height: 40px;
	}
	
	.navbar-expand-lg div li div {
		width: 190px;
		height: 120px;
	}

	.navbar-expand-lg {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
		-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
		box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	}

	.nav-item i {
		display: none;
	}

	.nav-item hr {
		display: none;
	}
}

@media (max-width: 992px) {
	.navbar-expand-lg a img {
		width: 55px;
		height: 40px;
	}
	
	.navbar-expand-lg div li div {
		width: 170px;
		height: 100px;
	}

	.navbar-expand-lg {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
		-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
		box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	}

	.nav-item i {
		vertical-align: bottom;
		font-size: 25px !important;
		padding-right: 8px;
	}
}


/***************
	Navbar End
***************/
/******************
	Hamburger
******************/
#hamburgerButton {
	position: relative;
	right: 8%;
	cursor: pointer;
	color: white;
	font-size: 45px;
}
/******************
	Hamburger End
******************/

/*******************
	Main Image Items
********************/
#superWrapper {
	position: absolute;
	top: 32.5%;
	left: 20%;
	width: 100%;
}

#mainImageElementWrapper {
	position: relative
}

.mainImageElement h1 {
    width: 600px;
	float:left;
	color: white;
	font-weight: 800;
}
.mainImageElement form {
	width: 30%;
	float: left;
	background-color: white;
	padding: 4.5%;
	color: #1c1c1c;
}


/************************
	Main Image Items End
************************/

/******************
	Slideout
******************/
#slideout {
	height: 100%;
	background-color: #f2f2f2;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.close {
	float: left;
	margin: 2.5% 0 0 2.5%;
}

.material-airplane {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#slideout button, #slideout a {
	background-color: #f2f2f2;
	border: 0;
	color: #4d4d4d;
	padding: 5%;
}

#slideout button i {
	vertical-align: bottom;
	font-size: 23px !important;
	padding-right: 8px;
}

.btn-group {
	padding: 5% 5% 0 10%;
}

.dropdown-menu {
	width: 100px;
	height: 100px;
	padding: 15% 0.5% 2% 0.5%;
	background-color: #f2f2f2;
}

#slideout button:hover {
	text-decoration: underline;
}

#slideout img {
	width: 20%;
	height: 20%;
}

#sliderCompany {
	font-weight: 600;
	color: #4d4d4d;
	text-align: center;
}

/******************
	Slideout End
******************/

/****************
	Infos
*****************/
#bookingInfoWrapper {
	position: relative;
	width: 100%;
	text-align: center;
}

#bookingInfoWrapper img, #bookingInfoText {
	display: inline-block;
	width: 30%;
	margin-top: 7%;
	margin-bottom: 8%;
}

#bookingInfoText {
	padding-left: 2%;
}

#wrapperCards {
	position: relative;
	width: 100%;
	text-align: center;
}

.card {
	display: inline-block;
	width: 30%;
	margin-top: 7%;
	margin-bottom: 8%;
	/*
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	*/
}

/*************
	Infos End
**************/

/***************** 
  Explore Start
******************/ 

#explore {
	background-color: #f5f7fa;
	width: 100%;
	height: 100%;
	padding: 4%;
}

#explore img { 
	display: block; 
	margin: auto; 
	width: 60%; 
	padding-bottom: 8%; 
}

#explore div {
	position: absolute; 
	margin-left: 25%; 
	margin-top: 3.5%; 
	background-color: white; 
	width: 25%; 
	height: 65%;
	padding: 4%;
}

/***************** 
	Explore End 
******************/

/***************
	Parallax
****************/
.parallax {
	background-image: url("/images/arches-picture.jpg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/****************
	Parallax End
*****************/

/***********
	Footer
************/
footer {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 350px;
	background-color: #f2f2f2;
}

.footerPart h1, .footerPart a {
	color: #1c1c1c;
}

.footerPart span {
	color: #bfbfbf;
}

.footerPart {
	width: 25%;
}
/**************
	Footer End
***************/
/*https://codepen.io/anon/pen/CGwgn*/

/*
.btn-primary {
	background-color: skyblue;
	border: 0;
}

.btn-primary:hover {
	background-color: red;
}
*/